{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		<header class="site__header">
			<div class="header__brand">
				<img class="brand__logo" src="{{site.theme.link}}/assets/build/images/logo.svg" alt="Logo: Red and black race car">
				<span class="brand__text" role="banner">
					<a href="{{site.url}}" rel="home">{{site.name}}</a>
				</span>
			</div>
			<nav class="header__nav" role="navigation" data-site-nav>
				<button class="nav__toggle" data-site-nav-toggle>Menu</button>
				{{ function('wp_nav_menu', {'theme_location': 'primary'}) }}
			</nav>
		</header>

		<section class="site__content" role="main">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</section>

		{% block footer %}
			<footer class="site__footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
