<div class="grid max">
	<ul class="widgets grid layout-thirds">
		{{footer_widgets}}
	</ul>
</div>
<div class="footer__copy">
	<div class="max">
		<ul class="footer__social">
			<li>
				<a href="https://www.facebook.com/coolcarsforkidsinc/"><span class="a11y">Facebook</span>{{fn('ccfk_get_svg', 'facebook')}}</a>
			</li>
			<li>
				<a href="https://twitter.com/CoolCarsForKids"><span class="a11y">Twitter</span>{{fn('ccfk_get_svg', 'twitter')}}</a>
			</li>
			<li><a href="https://www.instagram.com/coolcarsforkidsinc/">
				<span class="a11y">Instagram</span>{{fn('ccfk_get_svg', 'instagram')}}</a>
			</li>
		</ul>
		<p>&copy; Copyright {{"now"|date('Y')}}. All Rights Reserved. CCfK, Inc. is a 501(c)(3) organization.</p>
	</div>
</div>