{% extends "base.twig" %}

{% block content %}
	<article class="page__article">
		<header class="page__header {% if post.thumbnail.src %}with-thumbnail {% endif %}grid-outer">
			<div class="page__header-contents content">
				<h1 class="page__title">{{post.title}}</h1>
				{% if post.post_excerpt %}
					<p class="page__tagline">{{post.post_excerpt}}</p>
				{% endif %}
			</div>
			{% if post.thumbnail and post.show_featured_image_in_header == true %}
				<img class="page__header-image" src="{{post.thumbnail.src}}" alt="">
			{% endif %}
		</header>
		<section class="page__main grid-outer">
			<div class="page__content content">
				{{dump(post.show_featured_image_in_header)}}
				{{post.content}}
			</div>
			<aside class="sidebar">
				<ul class="widgets">
					{{sidebar}}
				</ul>
			</aside>
		</section>
	</article>
{% endblock %}