<header class="page__header{{post.show_header_image and post.thumbnail ? ' grid layout-image' }}">
	<div class="page__header-content content pad">
		<h1 class="page__title">{{post.title}}</h1>

		{% if post.post_excerpt and post.post_type == 'page' %}
			<p class="page__tagline">{{post.post_excerpt}}</p>
		{% elseif post.post_type == 'post' %}
			<p class="page__tagline">{{post.date}}</p>
		{% endif %}

		{% if post.show_header_image and post.thumbnail %}
			<div class="page__cta">
				{% set cta = post.get_field('header_cta') %}
				{% if cta.button_text != '' %}
					<a href="{{cta.connected_page}}"><span class="btn">{{cta.button_text}}</span></a>
				{% else %}
					<a href="#content" class="icon icon--red icon--with-text">
						<span class="text">Read on</span>
						{{fn('ccfk_get_svg', 'arrow-down')}}
					</a>
				{% endif %}
			</div>
		{% endif %}

	</div>

	{% if post.thumbnail and post.show_header_image %}
		<img class="page__header-image image" src="{{post.thumbnail.src|resize(400)}}" srcset="{{ function('wp_get_attachment_image_srcset', post.thumbnail.id) }}" alt="{{post.thumbnail.alt}}">
	{% endif %}

</header>
{{ function('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}